<ion-item button
          detail="false"
          lines="none"
          (click)="expandIngredientList()"
          class="ion-no-padding expand-button"
          data-sliding-item>
  <!-- Recipe master quick info -->
  <ion-grid class="recipe-summary-grid ion-no-padding">
    <ion-row class="recipe-summary-header">
      <!-- Recipe master name -->
      <app-recipe-slider-content-name [recipe]="recipe"
                                      [refreshPipes]="refreshPipes">
      </app-recipe-slider-content-name>
    </ion-row>
    <!-- Recipe master volume, type, ABV, IBU, and SRM -->
    <ion-row>
      <app-recipe-slider-content-values [variant]="variant"
                                        [refreshPipes]="refreshPipes">
      </app-recipe-slider-content-values>
    </ion-row>
  </ion-grid>
</ion-item>
