<form [formGroup]="calendarForm">
  <!-- Name -->
  <app-form-input [control]="calendarForm.controls.name"
                  controlName="name"
                  formName="process"
                  label="name"
                  [shouldRequire]="true"
                  type="text">
  </app-form-input>
  <!-- Duration -->
  <app-form-input [control]="calendarForm.controls.duration"
                  controlName="duration"
                  formName="process"
                  label="duration (days)"
                  [shouldRequire]="true"
                  type="number">
  </app-form-input>
  <!-- Description -->
  <app-form-text-area [control]="calendarForm.controls.description"
                      controlName="description"
                      formName="process"
                      label="description">
  </app-form-text-area>
</form>
