.form-error-container {
  /* Display */
  padding-left: 16px;
  padding-right: 16px;
}

.item {
  /* Display */
  padding-left: 16px;
  padding-right: 16px;
}

.label-full-width {
  /* Display */
  width: 100%;
}

.scroll-content {
  /* Display */
  margin-bottom: 0;
}






ion-item {
  --padding-start: 0;
  --inner-padding-start: 0;
  --highlight-color-valid: var(--ion-color-primary);
  --highlight-color-invalid: transparent;
  --highlight-color-focused: transparent;
  --border-color: var(--ion-color-light);
}
