:host {
  width: 100%;
}

.border-bottom-medium {
  border-bottom: 2px solid var(--ion-color-medium);
}

.item-button {
  /* Display */
  width: 100%;
  padding: 0;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;

  /* Color */
  color: var(--ion-color-light);
  background-color: var(--ion-background-color);
}

.list-border {
  /* Display */
  border: 2px solid var(--ion-color-primary);
  border-radius: 5px;
}

.list-empty-message {
  /* Text */
  font-size: 2rem;
  text-align: center;
}

.note-container {
  align-items: center;
}

.note-text {
  /* Display */
  margin: 0;

  /* Text */
  text-align: left;
  overflow-wrap: anywhere;
  font-size: 1.3rem;
}


ion-icon {
  font-size: 2.5em;
}

ion-item {
  /* Display */
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}
