<div>
  <ion-label class="recipe-group-label">
    Hops Schedule
  </ion-label>
  <ion-list lines="none"
            class="ion-no-padding list-border">
    <ng-container *ngFor="let hops of hopsSchedule; index as i; last as isLast">
      <app-hops-schedule-item (openIngredientFormButtonEvent)="openIngredientFormModal(hops)"
                              [hops]="hops"
                              [isLast]="isLast"
                              [ibu]="ibus[i]">
      </app-hops-schedule-item>
    </ng-container>
  </ion-list>
</div>
