#app-description {
  /* Display */
  margin-bottom: 15px;

  /* Color */
  color: var(--ion-color-light);

  /* Text*/
  font-size: 1.35rem;
  text-align: center;
}

a {
  /* Text */
  text-decoration: none;
}

ion-card {
  /* Color */
  background-color: var(--ion-color-medium-shade);
}

ion-card-content {
  /* Text */
  font-size: 2rem;
}

ion-card-header {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Color */
  color: var(--ion-color-light);

  /* Children */
  ion-icon {
    /* Display */
    padding-right: 5%;

    /* Text */
    font-size: 3rem;
  }

  h2 {
    /* Text */
    font-size: 3rem;
  }
}

ion-col {
  /* Color */
  color: var(--ion-color-secondary-tint);

  /* Text */
  text-align: center;
}
