<app-header title="General Details"
            [overrideBackButton]="onBackClick">
</app-header>

<ion-content class="sub-page">
  <ng-container *ngIf="generalForm">

    <p class="form-info required">Required fields</p>

    <form [formGroup]="generalForm">
      <!-- Recipe Master Name Input -->
      <app-form-input *ngIf="formType === 'master'"
                      [control]="generalForm.controls.name"
                      controlName="name"
                      formName="general"
                      label="name"
                      [shouldRequire]="true"
                      type="text">
      </app-form-input>
      <!-- Recipe Variant Name Input -->
      <app-form-input *ngIf="formType === 'variant'"
                      [control]="generalForm.controls.variantName"
                      controlName="variantName"
                      formName="general"
                      label="variant name"
                      [shouldRequire]="true"
                      type="text">
      </app-form-input>
      <!-- Label image -->
      <app-form-image *ngIf="formType === 'master'"
                      (imageModalEvent)="imageModalDismiss($event)"
                      [image]="labelImage"
                      label="label image">
      </app-form-image>
      <!-- Style Select -->
      <app-form-select  *ngIf="formType === 'master'"
                        [compareWithFn]="compareWithFn"
                        [control]="generalForm.controls.style"
                        controlName="style"
                        formName="general"
                        label="select style"
                        [options]="styleSelectOptions"
                        [shouldRequire]="true">
      </app-form-select>
      <!-- Brewing Type Select -->
      <app-form-select  *ngIf="!(formType === 'master' && docMethod === 'update')"
                        [compareWithFn]="compareWithFn"
                        [control]="generalForm.controls.brewingType"
                        controlName="brewingType"
                        formName="general"
                        label="brewing type"
                        [options]="brewingSelectOptions"
                        [shouldRequire]="true">
      </app-form-select>
      <!-- Efficiency Input -->
      <app-form-input *ngIf="!(formType === 'master' && docMethod === 'update')"
                      [control]="generalForm.controls.efficiency"
                      controlName="efficiency"
                      formName="general"
                      label="efficiency (%)"
                      [shouldRequire]="true"
                      type="text">
      </app-form-input>
      <!-- Mash Time Duration Input -->
      <app-form-input *ngIf="!(formType === 'master' && docMethod === 'update')"
                      [control]="generalForm.controls.mashDuration"
                      controlName="mashDuration"
                      formName="general"
                      label="mash duration (minutes)"
                      [shouldRequire]="true"
                      type="number">
      </app-form-input>
      <!-- Boil Time Duration Input -->
      <app-form-input *ngIf="!(formType === 'master' && docMethod === 'update')"
                      [control]="generalForm.controls.boilDuration"
                      controlName="boilDuration"
                      formName="general"
                      label="boil duration (minutes)"
                      [shouldRequire]="true"
                      type="number">
      </app-form-input>
      <!-- Batch Volume Input -->
      <app-form-input *ngIf="!(formType === 'master' && docMethod === 'update')"
                      [control]="generalForm.controls.batchVolume"
                      controlName="batchVolume"
                      formName="general"
                      [label]="'batch volume ' + '(' + (units !== null ? units.volumeLarge.longName: 'gallon') + ')'"
                      [shouldRequire]="true"
                      type="number">
      </app-form-input>
      <!-- Mash Volume Input -->
      <app-form-input *ngIf="!(formType === 'master' && docMethod === 'update')"
                      [control]="generalForm.controls.mashVolume"
                      controlName="mashVolume"
                      formName="general"
                      [label]="'mash volume ' + '(' + (units !== null ? units.volumeLarge.longName: 'gallon') + ')'"
                      [shouldRequire]="true"
                      type="number">
      </app-form-input>
      <!-- Boil Volume Input -->
      <app-form-input *ngIf="!(formType === 'master' && docMethod === 'update')"
                      [control]="generalForm.controls.boilVolume"
                      controlName="boilVolume"
                      formName="general"
                      [label]="'boil volume ' + '(' + (units !== null ? units.volumeLarge.longName: 'gallon') + ')'"
                      [shouldRequire]="true"
                      type="number">
      </app-form-input>
      <!-- Toggles -->
      <ng-container *ngIf="formType === 'variant'">
        <app-form-toggle  [control]="generalForm.controls.isFavorite"
                          toggleName="set as favorite">
        </app-form-toggle>
        <app-form-toggle  *ngIf="update && !update.isMaster"
                          [control]="generalForm.controls.isMaster"
                          toggleName="set as master">
        </app-form-toggle>
      </ng-container>
      <!-- Form Buttons -->
      <app-form-buttons (cancelEvent)="dismiss()"
                        (submitEvent)="onSubmit()"
                        [isSubmitDisabled]="!generalForm || !generalForm.valid">
      </app-form-buttons>
    </form>
  </ng-container>
</ion-content>
