.day-header {
  /* Display */
  border-bottom: 1px solid var(--ion-color-light-shade);
  margin-bottom: 5px;

  /* Color */
  color: var(--ion-color-light);

  /* Text */
  font-size: 2rem;
  text-align: center;
}
