<app-header title="Recipes"></app-header>

<ion-content [scrollEvents]="true">
  <ion-grid>
    <ion-row  #createButtonContainer
              class="ion-justify-content-center">
      <header class="inner-header">
        <ion-button (click)="navToRecipeForm()"
                    class="form-button">
          CREATE NEW RECIPE
        </ion-button>
      </header>
    </ion-row>
    <ion-row *ngIf="recipeList && variantList">
      <!-- Recipe List -->
      <ion-list #slidingItemsList>
        <ng-container *ngFor="let recipe of recipeList; index as i">
          <app-recipe-slider  (confirmDeleteEvent)="confirmDelete(i)"
                              (expandIngredientListEvent)="expandIngredientList(i)"
                              (navToBrewProcessEvent)="navToBrewProcess(recipe)"
                              (navToDetailsEvent)="navToDetails(i)"
                              [recipe]="recipe"
                              [refreshPipes]="refreshPipes"
                              [variant]="variantList[i]">
          </app-recipe-slider>
          <!-- Recipe ingredient list -->
          <app-accordion  [expanded]="recipeIndex === i">
            <ingredient-list  [recipeVariant]="variantList[i]"
                              [refreshPipes]="refreshPipes">
            </ingredient-list>
          </app-accordion>
        </ng-container>
      </ion-list>
    </ion-row>
    <ion-row  *ngIf="!recipeList.length || !variantList.length"
              class="ion-justify-content-center no-recipes">
      No Recipes Yet
    </ion-row>
    <!-- Loading spinner -->
    <app-loading-spinner  *ngIf="isLoggedIn && !recipeList"
                          loadingMessage="loading recipes">
    </app-loading-spinner>
  </ion-grid>
</ion-content>
