<form [formGroup]="timerForm">
  <!-- Name -->
  <app-form-input [control]="timerForm.controls.name"
                  controlName="name"
                  formName="process"
                  label="name"
                  [shouldRequire]="true"
                  type="text">
  </app-form-input>
  <!-- Duration -->
  <app-form-input [control]="timerForm.controls.duration"
                  controlName="duration"
                  formName="process"
                  label="duration (minutes)"
                  [shouldRequire]="true"
                  type="number">
  </app-form-input>
  <!-- Split Interval -->
  <app-form-input [control]="timerForm.controls.splitInterval"
                  controlName="splitInterval"
                  formName="process"
                  label="split interval"
                  type="number">
  </app-form-input>
  <!-- Concurrent Timer -->
  <app-form-toggle  [control]="timerForm.controls.concurrent"
                    toggleName="concurrent timer">
  </app-form-toggle>
  <!-- Description -->
  <app-form-text-area [control]="timerForm.controls.description"
                      controlName="description"
                      formName="process"
                      label="description">
  </app-form-text-area>
</form>
