<button (click)="openGeneralFormModal()">
  <ion-grid class="ion-no-padding">
    <ion-row  *ngIf="formType === 'master'"
              class="ion-justify-content-center">
      {{ master.name === '' ? 'Tap Here To Begin': master.name | titlecase }}
    </ion-row>
    <ion-row  *ngIf="formType === 'variant'"
              class="ion-justify-content-center">
      {{ variant.variantName === '' ? 'Tap Here To Begin': variant.variantName | titlecase }}
    </ion-row>
    <ion-row class="ion-justify-content-around">
      <span>{{ variant.ABV | truncate:1 }}% ABV</span>
      <span>{{ master.style.name }}</span>
    </ion-row>
  </ion-grid>
</button>
