<ion-grid id="process-button-container"
          class="ion-no-padding">
  <!-- Step view navigation controls -->
  <ion-row  id="step-control-buttons"
            class="ion-justify-content-between">
    <!-- View previous step if not at start -->
    <ion-col>
      <ion-button color="primary"
                  (click)="changeStep('prev')"
                  [disabled]="atViewStart">
        <ion-icon name="caret-back-outline"
                  class="nav-process-button">
        </ion-icon>
      </ion-button>
    </ion-col>
    <ng-container *ngIf="onCurrentStep && (!isCalendarStep || isCalendarInProgress)">
      <!-- Show measurement form modal button if on current step and not choosing a calendar date -->
      <ion-col>
        <ion-button color="primary"
                    (click)="openMeasurementFormModal()">
          <ion-icon name="build-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- Complete the step button - only if on current step -->
      <ion-col>
        <ion-button color="primary"
                    (click)="completeStep()"
                    class="nav-process-button">
          Done
        </ion-button>
      </ion-col>
    </ng-container>
    <!-- Jump to current step - only if not on current step -->
    <ion-col *ngIf="!onCurrentStep">
      <ion-button color="primary"
                  (click)="goToActiveStep()"
                  class="nav-process-button">
        Go To Active
      </ion-button>
    </ion-col>
    <!-- If on calendar step and has not already been started -->
    <ion-col *ngIf="onCurrentStep && isCalendarStep && !isCalendarInProgress">
      <ion-button color="primary"
                  (click)="startCalendar()"
                  class="nav-process-button">
        Start
      </ion-button>
    </ion-col>
    <!-- View next step if not at end -->
    <ion-col>
      <ion-button color="primary"
                  (click)="changeStep('next')"
                  [disabled]="atViewEnd">
        <ion-icon name="caret-forward-outline"
                  class="nav-process-button">
        </ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
