<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col>
      <ion-button color="primary"
                  (click)="cancel()"
                  class="form-button">
        Cancel
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="shouldCautionSubmit ? 'danger' : 'primary'"
                  (click)="submit()"
                  class="form-button"
                  [disabled]="isSubmitDisabled">
        Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
