<ion-list *ngIf="isLoggedIn">
  <!-- Profile section -->
  <ion-item button
            (click)="toggleExpandContent('profile')">
    <ion-label>
      <ion-icon color="primary"
                item-start
                name="person-outline">
      </ion-icon>
      Profile
    </ion-label>
  </ion-item>
  <app-accordion [expanded]="expandedContent === 'profile'">
    <app-profile></app-profile>
  </app-accordion>
  <!-- Friends section -->
  <ion-item button
            (click)="toggleExpandContent('friends')">
    <ion-label>
      <ion-icon color="primary"
                item-start
                name="people-outline">
      </ion-icon>
      Friends
    </ion-label>
  </ion-item>
  <app-accordion [expanded]="expandedContent === 'friends'">
    <app-friends></app-friends>
  </app-accordion>
</ion-list>
<!-- Login/Signup button -->
<ion-grid>
  <ion-row  *ngIf="!isLoggedIn"
            class="ion-justify-content-center section-row login-signup-container">
    <span>Log In or Sign Up to view more options</span>
    <app-login-signup-button></app-login-signup-button>
  </ion-row>
  <ion-row  *ngIf="isLoggedIn"
            class="ion-justify-content-center">
    <ion-button color="primary"
                (click)="logOut()">
      Log Out
    </ion-button>
  </ion-row>
</ion-grid>
