<div  *ngIf="settings"
      class="progress-circle-container">

  <svg [attr.height]="settings.height"
       [attr.width]="settings.width">

    <circle class="progress-circle"
            [attr.stroke-dasharray]="settings.circle.strokeDasharray"
            [attr.stroke-dashoffset]="settings.circle.strokeDashoffset"
            [attr.stroke-width]="settings.circle.strokeWidth"
            [attr.stroke]="settings.circle.stroke"
            [attr.fill]="settings.circle.fill"
            [attr.r]="settings.circle.radius"
            [attr.cx]="settings.circle.originX"
            [attr.cy]="settings.circle.originY"/>

    <text [attr.x]="settings.text.textX"
          [attr.y]="settings.text.textY"
          [attr.text-anchor]="settings.text.textAnchor"
          [attr.fill]="settings.text.fill"
          [attr.font-size]="settings.text.fontSize"
          [attr.font-family]="settings.text.fontFamily"
          [attr.dy]="settings.text.dY">
      {{ settings.text.content }}
    </text>

    <path *ngIf="showButton"
          [attr.d]="chevronPath"
          [attr.stroke-width]="settings.circle.strokeWidth / 2"
          stroke="var(--ion-color-primary)"
          stroke-linecap="round"
          fill="transparent"/>

  </svg>

</div>
