<ion-content class="sub-page">
  <header>Log In</header>
  <ng-container *ngIf="loginForm">
    <p class="form-info required">Required fields</p>

    <form [formGroup]="loginForm">
      <!-- Username Input -->
      <app-form-input [control]="loginForm.controls.username"
                      controlName="username"
                      formName="login"
                      label="username"
                      [shouldRequire]="true"
                      type="text">
      </app-form-input>
      <!-- Password Input -->
      <app-form-input [control]="loginForm.controls.password"
                      controlName="password"
                      formName="login"
                      label="password"
                      [shouldRequire]="true"
                      [type]="passwordType">
      </app-form-input>
      <!-- Toggle display password in plain text -->
      <app-form-checkbox  (ionCheckboxEvent)="togglePasswordVisible($event)"
                          label="show password">
      </app-form-checkbox>
      <!-- Set to remember user in storage -->
      <app-form-checkbox  [control]="loginForm.controls['remember']"
                          label="remember me">
      </app-form-checkbox>
    </form>
  </ng-container>

  <ng-container *ngIf="!loginForm">
    Login Form Failed
  </ng-container>

  <!-- Form Buttons -->
  <app-form-buttons (cancelEvent)="dismiss()"
                    (submitEvent)="onSubmit()"
                    [isSubmitDisabled]="!loginForm.valid || awaitingResponse">
  </app-form-buttons>
</ion-content>
