<ion-grid *ngIf="timer"
          class="ion-no-padding timer-container">
  <ion-row class="timer-row">
    <app-process-header [headerText]="timer.timer.name"
                        [isExpired]="timer.timeRemaining < 1"
                        [isPreview]="false"
                        (toggleShowDescriptionEvent)="toggleShowDescription()">
    </app-process-header>
  </ion-row>
  <ion-row>
    <app-accordion  [expanded]="showDescription"
                    [animationDuration]="250">
      <app-process-description  [description]="timer.timer.description"
                                [isDropDown]="true">
      </app-process-description>
    </app-accordion>
  </ion-row>
  <ion-row  *ngIf="timer.timeRemaining > 0"
            class="ion-align-items-center timer-row">
    <ion-row  *ngIf="timer.settings"
              class="ion-justify-content-center">
      <app-progress-circle  (click)="toggleTimerControls()"
                            [chevronPath]="chevronPath"
                            [settings]="timer.settings"
                            [showButton]="timer.timer.concurrent">
      </app-progress-circle>
    </ion-row>
    <ion-row *ngIf="timer.timer.concurrent">
      <div  #timerControlsContainer
            class="timer-individual-controls">
        <app-timer-controls [processes]="[process]"
                            [timers]="[timer]">
        </app-timer-controls>
      </div>
    </ion-row>
  </ion-row>
</ion-grid>
