<ion-grid *ngIf="timer"
          class="ion-no-padding timer-container">

  <!-- Active Step View Timer Data -->
  <ion-row class="timer-row">

    <ion-col size="12">

      <h2>
        {{ timer.timer.name }}
      </h2>

    </ion-col>

    <ion-col  *ngIf="showDescription"
              size="12"
              class="description">

      <p>
        {{ timer.timer.description | unitConversion:'weightSmall':true:true:true }}
      </p>

    </ion-col>

  </ion-row>
  <!-- End Active Step View Timer Data -->
  <div>

    <ion-row class="timer-row ion-align-items-center">

      <!-- Timer Progress Circle Component -->
      <ion-col  *ngIf="timer.settings"
                size="12">

        <progress-circle  (click)="toggleTimerControls()"
                          [settings]="timer.settings"
                          [showButton]="isConcurrent"
                          [chevronPath]="chevronPath">
        </progress-circle>

      </ion-col>
      <!-- End Timer Progress Circle Component -->


      <ng-container *ngIf="isConcurrent">

        <!-- Concurrent Timers Individual Controls -->
        <div  [@expandUpDown]="timer.expansion"
              class="timer-individual-controls">

            <!-- Start Individual Timer Button -->
            <ion-row>

              <ion-button color="primary"
                          (click)="startSingleTimer()"
                          class="button timer-button">
                Start
              </ion-button>

            </ion-row>

            <!-- Stop Individual Timer Button -->
            <ion-row>

              <ion-button color="primary"
                          (click)="stopSingleTimer()"
                          class="button timer-button">
                Stop
              </ion-button>

            </ion-row>

            <!-- Add minute to Individual Timer Button -->
            <ion-row>

              <ion-button color="secondary"
                          (click)="addToSingleTimer()"
                          class="button timer-button">
                +1min
              </ion-button>

            </ion-row>

            <!-- Reset Individual Timer Button -->
            <ion-row>

              <ion-button color="secondary"
                          (click)="resetSingleTimer()"
                          class="button timer-button">
                Reset
              </ion-button>

            </ion-row>

        </div>
        <!-- End Concurrent Timers Individual Controls -->

      </ng-container>

    </ion-row>

  </div>

</ion-grid>
