<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-button color="primary"
                (click)="openIngredientActionSheet()"
                class="form-button"
                [disabled]="isAddButtonDisabled">
      ADD INGREDIENT
    </ion-button>
  </ion-row>
  <ion-row *ngIf="variant">
    <!-- Selected Grain Bill -->
    <app-grain-bill *ngIf="variant.grains && variant.grains.length"
                    (openIngredientFormEvent)="openIngredientFormModal('grains', $event)"
                    [grainBill]="variant.grains"
                    [refresh]="refresh">
    </app-grain-bill>
    <!-- Selected Hops Schedule -->
    <app-hops-schedule  *ngIf="variant.hops && variant.hops.length"
                        (openIngredientFormEvent)="openIngredientFormModal('hops', $event)"
                        [variant]="variant"
                        [refresh]="refresh">
    </app-hops-schedule>
    <!-- Selected Yeast Batch -->
    <app-yeast-batch  *ngIf="variant.yeast && variant.yeast.length"
                      (openIngredientFormEvent)="openIngredientFormModal('yeast', $event)"
                      [yeastBatch]="variant.yeast">
    </app-yeast-batch>
    <!-- Other Ingredients -->
    <app-other-ingredients  *ngIf="variant.otherIngredients && variant.otherIngredients.length"
                            (openIngredientFormEvent)="openIngredientFormModal('otherIngredients', $event)"
                            [otherIngredients]="variant.otherIngredients">
    </app-other-ingredients>
  </ion-row>
</ion-grid>
