.item {
  /* Display */
  margin: 10px 0;

  /* Text */
  font-size: 6vw;
}

.toggle-label {
  /* Display */
  display: flex;
  justify-content: space-between;
}


div {
  padding: 0 16px;
}

ion-item {
  /* Display */
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-start: 0;

  /* Color */
  --highlight-color-valid: var(--ion-color-primary);
  --highlight-color-invalid: transparent;
  --highlight-color-focused: transparent;
  --border-color: var(--ion-color-light);
}
