:host {
  width: 100%;
}

div {
  /* Display */
  display: flex;
  justify-content: space-between;
  margin: 0;

  /* Color */
  color: var(--ion-color-light-shade);

  /* Text */
  font-size: 5vw;
}
