<app-header title="Measurements"
            [overrideBackButton]="onBackClick"
            [shouldHideLoginButton]="areAllRequired">
</app-header>

<ion-content class="sub-page">

  <ion-grid *ngIf="measurementsForm"
            class="ion-no-padding">

    <ion-row  id="heading"
              class="ion-justify-content-center">

      <ion-row>{{ areAllRequired ? 'Confirm' : 'Update' }} Measurements</ion-row>
      <ion-row *ngIf="areAllRequired">For Submission</ion-row>

    </ion-row>

    <ion-row>

      <p  *ngIf="areAllRequired"
          class="form-info required">
        Required fields
      </p>

      <form [formGroup]="measurementsForm">
        <!-- Original Gravity Input -->
        <app-form-input [control]="measurementsForm.controls.originalGravity"
                        controlName="originalGravity"
                        formName="measurements"
                        [label]="'Original Gravity (' + units.density.shortName + ')'"
                        [overrideTitleCase]="true"
                        [shouldRequire]="areAllRequired"
                        type="number">
        </app-form-input>

        <!-- Final Gravity Input -->
        <app-form-input [control]="measurementsForm.controls.finalGravity"
                        controlName="finalGravity"
                        formName="measurements"
                        [label]="'Final Gravity (' + units.density.shortName + ')'"
                        [overrideTitleCase]="true"
                        [shouldRequire]="areAllRequired"
                        type="number">
        </app-form-input>

        <!-- Batch Volume Input -->
        <app-form-input [control]="measurementsForm.controls.batchVolume"
                        controlName="batchVolume"
                        formName="measurements"
                        [label]="'Batch Volume (' + units.volumeLarge.shortName + ')'"
                        [overrideTitleCase]="true"
                        [shouldRequire]="areAllRequired"
                        type="number">
        </app-form-input>

        <app-form-buttons *ngIf="!areAllRequired"
                          (cancelEvent)="dismiss()"
                          (submitEvent)="onSubmit()"
                          [isSubmitDisabled]="!measurementsForm || !measurementsForm.valid">
        </app-form-buttons>

        <ion-row *ngIf="areAllRequired">
          <ion-button color="primary"
                      (click)="onSubmit()"
                      class="form-button"
                      [disabled]="!measurementsForm.valid">
            Submit To Inventory
          </ion-button>
        </ion-row>

      </form>
    </ion-row>
  </ion-grid>
</ion-content>
