<div *ngIf="control">
  <ion-item [ngClass]="{
    'item-valid': !controlErrors && (control.touched || control.value),
    'item-error': controlErrors && control.touched
  }">
    <ion-label  [ngClass]="{ 'required': shouldRequire }"
                position="floating">
      {{ overrideTitleCase ? label : (label | titlecase) }}
    </ion-label>
    <ion-input  (ionBlur)="onInputBlur($event)"
                (ionChange)="onInputChange($event)"
                [autocapitalize]="shouldAutocapitalize ? 'on' : 'off'"
                [autocomplete]="shouldAutocomplete ? 'on' : 'off'"
                [autocorrect]="shouldAutocorrect ? 'on' : 'off'"
                clearOnEdit="false"
                [formControl]="control"
                [required]="shouldRequire ? true : false"
                [spellcheck]="shouldSpellcheck"
                [type]="type">
    </ion-input>
  </ion-item>
  <app-form-error *ngIf="showError"
                  [formName]="formName"
                  [controlName]="controlName"
                  [controlErrors]="controlErrors">
  </app-form-error>
</div>
