<ion-grid class="ion-no-padding">
  <ion-row *ngIf="isPreview">
    <h2 class="preview-header-text">
      <span>{{ headerText | titlecase }}</span>
    </h2>
  </ion-row>
  <ion-row *ngIf="!isPreview">
    <button (click)="toggleShowDescription()"
            [ngClass]="{
              'button': true,
              'expand-button': true,
              'timer-expired': isExpired
            }">
      <h2>
        <ion-icon [color]="isExpired ? 'accent' : 'primary'"
                  [name]="isExpired ? 'checkmark-circle-outline' : 'document-text-outline'">
        </ion-icon>
        <span>{{ headerText | titlecase }}</span>
      </h2>
    </button>
  </ion-row>
</ion-grid>
