<ion-grid id="timer-container"
          class="ion-no-padding">
  <!-- Controls for all timers -->
  <ion-row *ngIf="!isPreview">
    <app-timer-controls [processes]="timerProcess"
                        [timers]="timers">
    </app-timer-controls>
  </ion-row>
  <!-- Individual timers -->
  <ng-container *ngFor="let timer of timers; index as i" >
    <ion-row  *ngIf="isPreview">
      <ion-row>
        <app-process-header isPreview="true"
                            [headerText]="timer.timer.name">
        </app-process-header>
      </ion-row>
      <ion-row>
        <app-process-preview-content [process]="timer.timer">
        </app-process-preview-content>
      </ion-row>
    </ion-row>
    <ion-row *ngIf="!isPreview">
      <app-timer  [process]="timerProcess[i]"
                  [timer]="timer">
      </app-timer>
    </ion-row>
  </ng-container>
</ion-grid>
