<ion-content>
  <ion-grid>
    <ion-row *ngIf="message">
      <ion-col  size="12"
                id="message">
        <span>{{ message }}</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <app-form-buttons (cancelEvent)="submit(false)"
                        (submitEvent)="submit(true)"
                        [shouldCautionSubmit]="true">
      </app-form-buttons>
    </ion-row>

    <ion-row  *ngIf="subMessage"
              class="ion-justify-content-end">
      <ion-col  size="6"
                id="sub-message">
        {{ subMessage }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
