.gallery-button {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

header {
  /* Display */
  margin-bottom: 15px;

  /* Text */
  font-size: 2.5rem;
}

img {
  margin: 0 auto;
}

ion-button {
  width: 100%;
}

ion-row:first-child {
  border-bottom: 2px solid var(--ion-color-light);
}
