.form-button.modal-button {
  /* Display */
  min-width: 56px;
  width: 20%;
  margin: 0 1% -2px 0; // margin bottom needs -2px to offset sibling's bottom border
}

.form-section-header {
  /* Display */
  padding-bottom: 5px;
  border-bottom: 1px solid var(--ion-color-light);

  /* Text */
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}

.form-section-header:not(:first-child) {
  margin-top: 60px;
}

.quantity-field-container {
  /* Display */
  display: flex;
  align-items: center;
}
