.image-input {
  /* Display */
  height: auto;
}

.item {
  /* Display */
  padding-left: 16px;
  padding-right: 16px;
}

.form-button.modal-button {
  /* Display */
  width: 48px;
  margin-right: 0;
}

.form-error-container {
  /* Display */
  padding-left: 16px;
  padding-right: 16px;
}

.form-section-header {
  /* Display */
  padding-bottom: 5px;
  border-bottom: 1px solid var(--ion-color-light);

  /* Text */
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}

.form-section-header:not(:first-child) {
  /* Display */
  margin-top: 60px;
}


ion-item {
  /* Display */
  --padding-start: 0;
  --inner-padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --highlight-color-valid: var(--ion-color-primary);
  --highlight-color-invalid: transparent;
  --highlight-color-focused: transparent;
  --border-color: var(--ion-color-light);
}
