:host {
  width: 100%;
}


.timer-container {
  /* Display */
  border: 2px solid var(--ion-color-primary);
  border-radius: 15px;
  margin: 2% 0;
  padding: 0 1%;
}

.timer-individual-controls {
  /* Display */
  width: 100%;
  margin-top: 5px;
  opacity: 0;
  height: 0;
  overflow: hidden;

  /* Children */
  ion-row {
    /* Display */
    padding: 5px;
  }
}

.timer-row {
  /* Display */
  width: 100%;

  /* Children */
  ion-col {
    /* Display */
    z-index: 2;

    /* Children */
    h2 {
      /* Display */
      display: flex;
      justify-content: center;

      /* Text */
      font-size: 2rem;
      text-align: center;
    }
  }
}


app-accordion {
  width: 100%;
}

ion-row {
  width: 100%;
}
