.border-bottom-medium {
  /* Display */
  border-bottom: 2px solid var(--ion-color-medium-tint);
}

.ingredient-text-container {
  /* Display */
  padding: 5px;

  /* Children */
  ion-row {
    /* Display */
    margin: 5px 0;
  }
}

.item-button {
  /* Display */
  width: 100%;
  padding: 0;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;

  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;

  /* Color */
  color: var(--ion-color-light);
  background-color: var(--ion-background-color);
}

.other-ingredient-description {
  /* Text */
  text-align: left;
  white-space: normal;
}


ion-grid {
  /* Display */
  background: var(--ion-color-medium-shade);
  -webkit-box-shadew: inset 0 0 40px 20px #4a4a4a;
  box-shadow: inset 0 0 40px 20px #4a4a4a;
}

ion-icon {
  /* Text */
  font-size: 2.5em;
}

ion-item {
  /* Display */
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
}
