<ion-list lines="none"
          class="ion-no-padding list-border">
  <ion-reorder-group  (ionItemReorder)="onReorder($event)"
                      disabled="false">
    <ion-item *ngFor="let step of schedule; index as i, last as isLast"
              [ngClass]="{
                'process-item': true,
                'border-bottom-medium': !isLast
              }">
      <ion-label class="process-item-label">
        <button (click)="openProcessModal(step, i)">
          <ion-icon color="primary"
                    [name]="processIcons[step.type]">
          </ion-icon>
        </button>
        {{ step.name }}
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
</ion-list>
