#heading {
  /* Display */
  margin: 15px 0;

  /* Text */
  font-size: 7.5vw;
  text-align: center;
}


.form-error-container {
  /* Display */
  padding-left: 16px;
  padding-right: 16px;
}

.item {
  /* Display */
  padding-left: 16px;
  padding-right: 16px;
}


form {
  /* Display */
  width: 100%;
}

ion-item {
  /* Display */
  --padding-start: 0;
  --inner-padding-start: 0;
  --highlight-color-valid: var(--ion-color-primary);
  --highlight-color-invalid: transparent;
  --highlight-color-focused: transparent;
  --border-color: var(--ion-color-light);
}
