<app-header [title]="title"
            [rootURL]="rootURL"
            [shouldHideLoginButton]="hideButton">
</app-header>

<ion-content>
  <ion-spinner *ngIf="!selectedBatch"></ion-spinner>

  <ion-grid *ngIf="selectedBatch">
    <ion-row *ngIf="stepType === 'manual'">
      <app-process-manual [manualProcess]="stepData"
                          class="sub-component">
      </app-process-manual>
    </ion-row>
    <ion-row *ngIf="stepType === 'timer'">
      <app-process-timer  [batchId]="selectedBatch.cid"
                          [isPreview]="selectedBatch.process.currentStep !== viewStepIndex"
                          [timerProcess]="stepData"
                          class="sub-component">
      </app-process-timer>
    </ion-row>
    <ion-row *ngIf="stepType === 'calendar'">
      <app-process-calendar #calendar
                            (changeDateEvent)="changeDateEventHandler()"
                            [alerts]="alerts"
                            [calendarProcess]="stepData"
                            [isPreview]="selectedBatch.process.currentStep !== viewStepIndex"
                            class="sub-component">
      </app-process-calendar>
    </ion-row>
  </ion-grid>
</ion-content>

<app-process-controls *ngIf="selectedBatch"
                      (changeStepEvent)="changeStep($event)"
                      (completeStepEvent)="completeStep()"
                      (goToActiveStepEvent)="goToActiveStep()"
                      (openMeasurementFormModalEvent)="openMeasurementFormModal($event)"
                      (startCalendarEvent)="startCalendar()"
                      [atViewStart]="viewStepIndex === 0"
                      [atViewEnd]="atViewEnd"
                      [onCurrentStep]="selectedBatch.process.currentStep === viewStepIndex"
                      [isCalendarStep]="stepData && stepData.type === 'calendar'"
                      [isCalendarInProgress]="isCalendarInProgress">
</app-process-controls>
