:host {
  width: 100%;
}

.alert-datetime {
  /* Display */
  width: 100%;

  /* Text */
  font-size: 1.1rem;
  text-align: center;
}

.alert-description {
  /* Color */
  color: var(--ion-color-light);

  /* Text */
  white-space: normal;
  text-align: center;
}

.alert-list {
  .item-inner {
    /* Display */
    border: none;
  }

  h3 {
    /* Display */
    margin-top: 0;

    /* Text */
    text-align: center;
  }
}

.calendar-description {
  /* Text */
  text-align: center;
}

.change-button {
  /* Display */
  display: block;
  margin: 0.6rem auto;
}

.next-datetime {
  /* Color */
  color: var(--ion-color-warning);
}


p {
  width: 100%;
  text-align: center;
}
