<div *ngIf="control">
  <ion-item>
    <ion-label class="toggle-label">
      <span>
        {{ overrideNameTitleCase ? toggleName : (toggleName | titlecase ) }}
      </span>
      <span *ngIf="toggleAdditionalName">
        {{ overrideAdditionalNameTitleCase ? toggleAdditionalName : (toggleAdditionalName | titlecase ) }}
      </span>
    </ion-label>
    <ion-toggle (ionChange)="onToggle($event)"
                color="primary"
                [formControl]="control">
    </ion-toggle>
  </ion-item>
</div>
