<!-- Slide left or right for actions, click to toggle ingredient list -->
<ion-item-sliding class="recipe-master-item">
  <!-- Delete the recipe master button -->
  <ion-item-options side="start">
    <ion-item-option  color="danger"
                      (click)="confirmDelete()"
                      class="delete-button">
      <div class="sliding-button-container">
        <ion-icon name="trash"></ion-icon>
        <span>
          Delete
        </span>
      </div>
    </ion-item-option>
  </ion-item-options>
  <!-- Recipe values -->
  <app-recipe-slider-content  (expandIngredientListEvent)="expandIngredientList()"
                              [recipe]="recipe"
                              [refreshPipes]="refreshPipes"
                              [variant]="variant">
  </app-recipe-slider-content>
  <ion-item-options side="end">
    <!-- Start a new brew process button -->
    <ion-item-option  color="secondary"
                      (click)="navToBrewProcess()">
      <div class="sliding-button-container">
        <ion-icon name="beer"></ion-icon>
        <span>
          Brew
        </span>
      </div>
    </ion-item-option>
    <!-- Go to recipe master details page button -->
    <ion-item-option  color="tertiary"
                      (click)="navToDetails()">
      <div class="sliding-button-container">
        <ion-icon name="menu"></ion-icon>
        <span>
          Details
        </span>
      </div>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
