<div>

  <!-- Form generation error notification -->
  <div *ngIf="preferencesForm === null">
    Form Load Error
  </div>

  <ng-container *ngIf="preferencesForm !== null && setUnits">

    <form [formGroup]="preferencesForm"
          id="preference-form">

      <ng-container *ngFor="let select of selects">

        <app-form-select  [control]="preferencesForm.controls[select.controlName]"
                          [label]="select.label"
                          [ionChangeEvent]="select.ionChangeEvent"
                          [options]="select.options">
        </app-form-select>

      </ng-container>

      <ng-container *ngFor="let toggle of toggles">

        <app-preferences-toggle [control]="preferencesForm.controls[toggle.controlName]"
                                [preferenceName]="toggle.label"
                                [preferenceUnit]="displayUnits[toggle.controlName]"
                                (toggleEvent)="onToggle(toggle.controlName, $event)">
        </app-preferences-toggle>

      </ng-container>

    </form>

    <!-- Submit update button -->
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-button color="primary"
                    (click)="onSubmit()"
                    class="form-button">
          Update
        </ion-button>
      </ion-row>
    </ion-grid>

  </ng-container>

</div>
