<ion-card id="calendar-card">

  <ion-card-header class="ion-no-padding">
    <ion-card-title>
      <app-calendar-controls  (changeButtonEvent)="changeMonth($event)"
                              (selectButtonEvent)="toggleEdit($event)"
                              [displayDate]="displayDate"
                              [editType]="editType">
      </app-calendar-controls>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <app-calendar-interactive-display (dateButtonEvent)="handleDateButtonClick($event)"
                                      [month]="month">
    </app-calendar-interactive-display>
  </ion-card-content>

</ion-card>
