<ion-card id="calendar-card">

  <!-- Calendar header -->
  <ion-card-header class="ion-no-padding">

    <ion-card-title>

      <ion-grid>

        <!-- Month display and controls -->
        <ion-row class="ion-align-items-center">

          <!-- Go back month button -->
          <ion-col size="2">

            <button (click)="changeMonthYear('prev', 'months')"
                    class="change-month-button">

              <ion-icon name="caret-back-circle-outline"
                        color="primary">
              </ion-icon>

            </button>

          </ion-col>

          <!-- Displayed month -->
          <ion-col class="month-header">
            {{ displayDate | moment:'format':'MMMM' }}
          </ion-col>

          <!-- Go forward month button -->
          <ion-col size="2">

            <button (click)="changeMonthYear('next', 'months')"
                    class="change-month-button">

              <ion-icon name="caret-forward-circle-outline"
                        color="primary">
              </ion-icon>

            </button>

          </ion-col>

        </ion-row>
        <!-- End Month display and controls -->


        <!-- Start and Alert toggle buttons -->
        <ion-row>

          <!-- Toggle select start button -->
          <ion-col>

            <ion-button [color]="editType === 'start' ? 'secondary': 'primary'"
                        (click)="toggleEdit('start')"
                        class="select-button">
              Select Start
            </ion-button>

          </ion-col>

          <!-- Toggle select alerts button -->
          <ion-col>

            <ion-button [color]="editType === 'alerts' ? 'tertiary': 'primary'"
                        (click)="toggleEdit('alerts')"
                        class="select-button">
              Select Alerts
            </ion-button>

          </ion-col>

        </ion-row>
        <!-- End Start and Alert toggle buttons -->

      </ion-grid>

    </ion-card-title>

  </ion-card-header>

  <!-- Calendar dates -->
  <ion-card-content class="ion-no-padding">

    <ion-grid>

      <!-- Display week day markers -->
      <ion-row class="day-header">

        <ion-col *ngFor="let day of weekdays">
          {{ day }}
        </ion-col>

      </ion-row>

      <!-- Calendar Week Row -->
      <ion-row  *ngFor="let week of month"
                class="week-row">

        <!-- Calendar Day -->
        <ng-container *ngFor="let day of week">

          <!-- Button if in select start edit mode -->
          <ion-col *ngIf="editType === 'start'">

            <date-button  [date]="day.mDate"
                          [isStart]="day.isStart"
                          [isProjected]="day.isProjected"
                          [isMonth]="day.isMonth"
                          (click)="selectStartDate(day)">
            </date-button>

          </ion-col>

          <!-- Button if in select alert edit mode -->
          <ion-col *ngIf="editType === 'alerts'">

            <date-button  [date]="day.mDate"
                          [isStart]="day.isStart"
                          [isProjected]="day.isProjected"
                          [isMonth]="day.isMonth"
                          (click)="toggleProjectedDate(day)">
            </date-button>

          </ion-col>

          <!-- Date marker if not in any edit mode -->
          <ion-col *ngIf="editType === ''">

            <date-button  [date]="day.mDate"
                          [isStart]="day.isStart"
                          [isProjected]="day.isProjected"
                          [isMonth]="day.isMonth">
            </date-button>

          </ion-col>

        </ng-container>
        <!-- End Calendar Day -->

      </ion-row>
      <!-- End Calendar Week Row -->

    </ion-grid>

  </ion-card-content>

</ion-card>
