.item-description {
  /* Color */
  color: var(--ion-color-light);

  /* Children */
  ion-col {
    p {
      /* Display */
      padding: 5px;
      margin-top: 5px;
      border: 1px solid var(--ion-color-light);
      border-radius: 3px;

      /* Text */
      font-size: 1.3rem;
    }
  }

  ion-label {
    font-size: 1.3rem;
  }
}
