<app-header title="Sign Up"
            [rootURL]="rootURL"
            [shouldHideLoginButton]="true">
</app-header>

<ion-content class="sub-page">
  <ng-container *ngIf="signupForm">
    <p class="form-info required">Required fields</p>

    <form [formGroup]="signupForm">
      <!-- Username Input -->
      <app-form-input [control]="signupForm.controls.username"
                      controlName="username"
                      formName="signup"
                      label="username"
                      [shouldRequire]="true"
                      type="text">
      </app-form-input>
      <!-- Password Input -->
      <app-form-input [control]="signupForm.controls.password"
                      controlName="password"
                      formName="signup"
                      label="password"
                      [shouldRequire]="true"
                      [type]="passwordType">
      </app-form-input>
      <!-- Password Confirmation Input -->
      <app-form-input [control]="signupForm.controls.passwordConfirmation"
                      controlName="passwordConfirmation"
                      formName="signup"
                      label="confirm password"
                      [shouldRequire]="true"
                      [type]="passwordType">
      </app-form-input>
      <!-- Toggle display password in plain text -->
      <app-form-checkbox  (ionCheckboxEvent)="togglePasswordVisible($event)"
                          label="show password">
      </app-form-checkbox>
      <!-- Email Input -->
      <app-form-input [control]="signupForm.controls.email"
                      controlName="email"
                      formName="signup"
                      label="email"
                      [shouldRequire]="true"
                      type="email">
      </app-form-input>
      <!-- User Avatar Image -->
      <app-form-image (imageModalEvent)="imageModalDismiss($event, 'userImage')"
                      [image]="userImage"
                      label="user avatar">
      </app-form-image>
      <!-- Brewery Image -->
      <app-form-image (imageModalEvent)="imageModalDismiss($event, 'breweryLabelImage')"
                      [image]="breweryLabelImage"
                      label="brewery label image">
      </app-form-image>
      <!-- First Name Input -->
      <app-form-input [control]="signupForm.controls.firstname"
                      controlName="firstname"
                      formName="signup"
                      label="first name"
                      type="text">
      </app-form-input>
      <!-- Last Name Input -->
      <app-form-input [control]="signupForm.controls.lastname"
                      controlName="lastname"
                      formName="signup"
                      label="last name"
                      type="text">
      </app-form-input>
    </form>
    <!-- Form Buttons -->
    <app-form-buttons (cancelEvent)="dismiss()"
                      (submitEvent)="onSubmit()"
                      [isSubmitDisabled]="!signupForm.valid || awaitingResponse">
    </app-form-buttons>
  </ng-container>
</ion-content>
