:host {
  width: 100%;
}

.form-button {
  /* Display */
  width: 90%;
  margin: 10px 5%;
  min-height: 52px;
  --border-radius: 10px;
  --box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.7);

  /* Text */
  font-size: 1.35rem;
  font-weight: 500;
  text-transform: none;
}
