<!-- Slide left to quick decrement count and right for edit button -->
<ion-item-sliding [ngClass]="{
                    'source-self': item.sourceType === 'self',
                    'source-other': item.sourceType === 'otherUser',
                    'source-third': item.sourceType === 'thirdParty'
                  }">
  <!-- Open inventory form to edit item -->
  <ion-item-options side="start">
    <ion-item-option  color="secondary"
                      (click)="openInventoryFormModal()">
      <ion-icon name="menu"></ion-icon>
      Edit
    </ion-item-option>
  </ion-item-options>
  <ion-item lines="none"
            (click)="expandItem()"
            class="expand-button"
            data-sliding-item>
    <ion-label>
      {{ item.itemName | titlecase }}{{ item.optionalItemData.itemSubname ? ' | ' + item.optionalItemData.itemSubname : ''}}
    </ion-label>
  </ion-item>
  <!-- Decrement item count -->
  <ion-item-options side="end">
    <ion-item-option  color="primary"
                      (click)="decrementCount()">

      <ion-icon name="beer"></ion-icon>
      Enjoy
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
