<ion-grid>

  <!-- Notification when there are no active batches present -->
  <ion-row  *ngIf="!activeBatchesList.length"
            class="ion-justify-content-center no-item">
    No Active Batches
  </ion-row>

  <!-- Active Batch List -->
  <ion-row *ngIf="activeBatchesList.length">

    <ion-list #batchSlidingItemsList
              id="batch-list">

      <ng-container *ngFor="let batch of activeBatchesList">

        <ion-item class="active-batch-summary">

          <button (click)="navToBrewProcess(batch)"
                  class="continue-button">

            <ion-icon name="beer"
                      color="primary">
            </ion-icon>

            <span>
              Continue
            </span>

          </button>

          <!-- Text information -->
          <div class="summary-text-container">

            <p>
              {{ batch.contextInfo.recipeMasterName | titlecase }} • {{ batch.contextInfo.recipeVariantName | titlecase }}
            </p>

            <p>
              Next Step: {{ batch.process.schedule[batch.process.currentStep].name | titlecase }}
            </p>

            <p>
              Started on {{ batch.createdAt | date:'EEEE, MMMM d' }}
            </p>

          </div>

        </ion-item>

      </ng-container>

    </ion-list>

  </ion-row>

</ion-grid>
