<ion-grid>

  <!-- Notification when there are no active batches present -->
  <ion-row  *ngIf="!activeBatchesList.length"
            class="ion-justify-content-center no-item">
    No Active Batches
  </ion-row>

  <!-- Active Batch List -->
  <ion-row *ngIf="activeBatchesList.length">

    <ion-list #batchSlidingItemsList
              id="batch-list">

      <ng-container *ngFor="let batch of activeBatchesList">

        <ion-item-sliding class="batch-item">

          <ion-item class="active-batch-summary"
                    data-sliding-item>

            <div class="summary-text-container">

              <p>
                {{ batch.contextInfo.recipeMasterName | titlecase }} • {{ batch.contextInfo.recipeVariantName | titlecase }}
              </p>

              <p>
                Next Step: {{ batch.process.schedule[batch.process.currentStep].name | titlecase }}
              </p>

              <p>
                Started on {{ batch.createdAt | date:'EEEE, MMMM d' }}
              </p>

            </div>

          </ion-item>

          <ion-item-options side="end">

            <ion-item-option  color="primary"
                              (click)="navToBrewProcess(batch)">

              <div class="sliding-button-container">

                <ion-icon name="beer"></ion-icon>

                <span>
                  Continue
                </span>

              </div>

            </ion-item-option>

          </ion-item-options>

        </ion-item-sliding>

      </ng-container>

    </ion-list>

  </ion-row>

</ion-grid>
