<app-header [title]="title"
            [overrideBackButton]="onBackClick">
</app-header>

<ion-content>
  <!-- Extras List -->
  <div #listContainer>
    <ion-list *ngIf="title === 'More Options'">
      <ion-item *ngFor="let extra of extras; index as i"
                button
                (click)="displayComponent(i)">
        <ion-label>
          <ion-icon color="primary"
                    item-start
                    [name]="extra.icon">
          </ion-icon>
          {{ extra.title | titlecase }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!-- Active Batches Component -->
  <div #activeBatchesContainer>
    <app-active-batch-list  *ngIf="title === 'Active Batches'"
                            [enterDuration]="animationDuration"
                            rootURL="tabs/extras">
    </app-active-batch-list>
  </div>
  <!-- Inventory Component -->
  <div #inventoryContainer>
    <app-inventory  *ngIf="title === 'Inventory'"
                    [optionalData]="optionalInventoryData"
                    [enterDuration]="animationDuration">
    </app-inventory>
  </div>
  <!-- Preferences Component -->
  <div #preferencesContainer>
    <app-preferences *ngIf="title === 'Preferences'"></app-preferences>
  </div>
  <!-- User Container -->
  <div #userContainer>
    <app-user *ngIf="title === 'User'"></app-user>
  </div>
  <!-- About Container -->
  <div #aboutContainer>
    <app-about *ngIf="title === 'About'"></app-about>
  </div>
</ion-content>
