#form {
  /* Display */
  width: 100%;
  padding: 5px 0;
}

.user-button-container {
  /* Display */
  display: flex;
  justify-content: center;
}

.item {
  /* Display */
  padding-left: 16px;
  padding-right: 16px;
}

ion-item {
  /* Display */
  --inner-padding-start: 0;
  --padding-start: 0;

  /* Color */
  --highlight-color-valid: var(--ion-color-primary);
  --highlight-color-invalid: transparent;
  --highlight-color-focused: transparent;
  --border-color: var(--ion-color-light);
}
