<ion-grid *ngIf="user"
          class="ion-no-padding container">
  <ng-container *ngIf="isLoggedIn && userForm">

    <ion-row>
      <!-- User profile form -->
      <form [formGroup]="userForm"
            id="form">
        <!-- Email -->
        <app-form-input [control]="userForm.controls['email']"
                        controlName="email"
                        formName="profile"
                        label="email"
                        [shouldRequire]="true"
                        type="email">
        </app-form-input>
        <!-- First Name -->
        <app-form-input [control]="userForm.controls['firstname']"
                        controlName="firstname"
                        formName="profile"
                        label="first name"
                        type="text">
        </app-form-input>
        <!-- Last Name -->
        <app-form-input [control]="userForm.controls['lastname']"
                        controlName="lastname"
                        formName="profile"
                        label="last name"
                        type="text">
        </app-form-input>
        <!-- User Image -->
        <app-form-image (imageModalEvent)="onImageSelection('userImage', $event)"
                        [image]="userImage"
                        label="user avatar">
        </app-form-image>
        <!-- Brewery Label Image -->
        <app-form-image (imageModalEvent)="onImageSelection('breweryLabelImage', $event)"
                        [image]="breweryLabelImage"
                        label="brewery image">
        </app-form-image>
      </form>
    </ion-row>
    <!-- Submit changes to user profile -->
    <ion-row>
      <ion-col class="user-button-container">
        <!-- Button is disabled if data has not been changed -->
        <ion-button color="primary"
                    (click)="onUpdate()"
                    [disabled]="!userForm.valid">
          Update Profile
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-grid>
