<app-header [title]="title"
            [rootURL]="previousRoute">
</app-header>

<ion-content [scrollEvents]="true">

  <ng-container *ngIf="isLoaded">

    <ion-grid id="form-container">

      <!-- Recipe form general information modal button -->
      <!-- Also contains some recipe information -->
      <button (click)="openGeneralFormModal()"
              id="generalInfoModalButton">

        <ion-row>

          <!-- Depending on form type, use the recipe master name
               or recipe variant name -->

          <ion-col *ngIf="formType === 'master'">
            {{ master.name === '' ? 'Tap Here To Begin': master.name | titlecase }}
          </ion-col>

          <ion-col *ngIf="formType === 'variant'">
            {{ variant.variantName === '' ? 'Tap Here To Begin': variant.variantName | titlecase }}
          </ion-col>

        </ion-row>

        <ion-row class="ion-justify-content-around">

          <!-- Calculated recipe alcohol by volume -->
          <span>{{ variant.ABV | truncate:1 }}% ABV</span>

          <!-- Recipe's chosen style -->
          <span>{{ master.style.name }}</span>

        </ion-row>

      </button>

      <!-- Recipe quick data grid -->
      <!-- Column headers -->
      <ion-row id="values-header">

        <ion-col class="col-left col-header">
          Recipe
        </ion-col>

        <ion-col class="col-right col-header">
          Style
        </ion-col>

      </ion-row>


      <!-- Recipe quick data block -->
      <recipe-quick-data  [variant]="variant"
                          [style]="master.style">
      </recipe-quick-data>


      <!-- Add ingredient button -->
      <ion-row *ngIf="!(formType === 'master' && docMethod === 'update')">

        <ion-col  size="12"
                  class="ion-no-padding">

          <ion-button color="primary"
                      (click)="openIngredientActionSheet()"
                      class="form-button"
                      [disabled]="!isGeneralFormComplete">
            ADD INGREDIENT
          </ion-button>

        </ion-col>

        <ion-col *ngIf="variant.grains.length || variant.hops.length || variant.yeast.length || variant.otherIngredients.length">

          <!-- Selected Grain Bill -->
          <ng-container *ngIf="variant.grains.length">

            <grain-bill [grainBill]="variant.grains"
                        [onRecipeAction]="onRecipeAction"
                        [refreshPipes]="refreshPipes">
            </grain-bill>

          </ng-container>


          <!-- Selected Hops Schedule -->
          <ng-container *ngIf="variant.hops.length">

            <hops-schedule  [variant]="variant"
                            [onRecipeAction]="onRecipeAction"
                            [refreshPipes]="refreshPipes">
            </hops-schedule>

          </ng-container>


          <!-- Selected Yeast Batch -->
          <ng-container *ngIf="variant.yeast.length">

            <yeast-batch  [yeastBatch]="variant.yeast"
                          [onRecipeAction]="onRecipeAction">
            </yeast-batch>

          </ng-container>


          <!-- Other Ingredients -->
          <ng-container *ngIf="variant.otherIngredients.length">

            <other-ingredients  [otherIngredients]="variant.otherIngredients"
                                [onRecipeAction]="onRecipeAction">
            </other-ingredients>

          </ng-container>

        </ion-col>

      </ion-row>

      <ion-row *ngIf="!(formType === 'master' && docMethod === 'update')">

        <!-- Add process step button -->
        <ion-col  size="12"
                  class="ion-no-padding">

          <ion-button color="primary"
                      (click)="openProcessActionSheet()"
                      class="form-button"
                      [disabled]="!isGeneralFormComplete">
            ADD PROCESS
          </ion-button>

        </ion-col>

        <ion-col *ngIf="variant.processSchedule.length">

          <process-list [schedule]="variant.processSchedule"
                        [onRecipeAction]="onRecipeAction">
          </process-list>

        </ion-col>

      </ion-row>


      <!-- Recipe notes -->
      <ion-row>

        <ion-col  size="12"
                  class="ion-no-padding">

          <!-- Open recipe note form modal button -->
          <ion-button color="primary"
                      (click)="openNoteModal()"
                      class="form-button"
                      [disabled]="!isGeneralFormComplete">
            ADD {{ formType === 'master' ? 'RECIPE': 'VARIANT' }} NOTE
          </ion-button>

        </ion-col>

        <!-- Recipe master note list -->
        <ion-col size="12">

          <note-list  [dismissFn]="onNoteDismiss"
                      [recipeMasterId]="master.cid"
                      [recipeVariantId]="formType === 'variant' ? variant.cid: undefined"
                      [notes]="formType === 'master'? master.notes: variant.notes"
                      #noteList>
          </note-list>

        </ion-col>

      </ion-row>


      <!-- Submit recipe form -->
      <ion-row>

        <ion-col  size="12"
                  class="ion-no-padding">

          <ion-button color="primary"
                      (click)="onSubmit()"
                      class="form-button"
                      [disabled]="!isGeneralFormComplete">
            SAVE
          </ion-button>

        </ion-col>

      </ion-row>

    </ion-grid>

  </ng-container>

</ion-content>
