:host {
  width: 100%;
}

header {
  /* Display */
  width: 100%;
  margin-top: 12%;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--ion-color-light);

  /* Text */
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}

section {
  width: 100%;
}
