<div  *ngIf="stepData"
      class="container">

  <ion-row>

    <!-- Toggle step description visibility -->
    <ion-col size="12">

      <button (click)="toggleShowDescription()"
              class="button expand-button">

        <h2>

          <ion-icon name="document-text-outline"
                    color="primary">
          </ion-icon>

          <span>{{ stepData.name }}</span>

        </h2>

      </button>

    </ion-col>

    <!-- Step description -->
    <ion-col  *ngIf="showDescription || isPreview"
              size="12"
              id="description-container">

      <p>
        Description: {{ stepData.description || 'No description available' }}
      </p>

    </ion-col>

  </ion-row>


  <ion-row  *ngIf="!isPreview"
            class="calendar-view">

    <!-- If the calendar step has been started, show information about next part(s) of step -->
    <ion-col  *ngIf="stepData['startDatetime'] !== undefined"
              size="12">

      <!-- Description of task to do at end date -->
      <p class="calendar-description">
        {{ stepData.description }}
      </p>

      <!-- List of next dates in calendar for a particular step -->
      <ion-list lines="none"
                class="ion-no-padding alert-list">

        <h3>Next Checks</h3>

        <ng-container *ngFor="let alert of alerts | sort:'datetime'">

          <ion-item>

            <!-- Alert date -->
            <p [ngClass]="{
              'alert-datetime': true,
              'next-datetime': alert === closestAlert
            }">
              {{ alert.datetime | date:'mediumDate' }}
            </p>

            <!-- TODO implement alert descriptions -->

          </ion-item>

        </ng-container>

      </ion-list>

      <!-- Edit the calendar step dates -->
      <ion-button class="change-button"
                  (click)="changeDate()">
        Change Dates
      </ion-button>

    </ion-col>

    <!-- Show calendar if step has not been started -->
    <calendar #calendar
              *ngIf="!isPreview && stepData['startDatetime'] === undefined"
              [stepData]="currentStepCalendarData">
    </calendar>

  </ion-row>

</div>
