:host {
  margin-bottom: 66px !important;
}


.calendar-view {
  &ion-col:first-child {
    /* Display */
    padding-top: 5px;
  }
}


calendar {
  /* Display */
  width: 100%;
  margin: 0 0 60px;
}

ion-row {
  width: 100%;
}
