<ion-grid   *ngIf="calendarProcess"
            class="ion-no-padding container">
  <ion-row>
    <ion-col size="12">
      <button (click)="toggleShowDescription()"
              class="button expand-button">
        <h2>
          <ion-icon name="document-text-outline"
                    color="primary">
          </ion-icon>
          <span>{{ calendarProcess.name }}</span>
        </h2>
      </button>
    </ion-col>
    <ion-col  *ngIf="showDescription || isPreview"
              size="12"
              id="description-container">
      <app-process-description [description]="calendarProcess.description">
      </app-process-description>
    </ion-col>
  </ion-row>

  <ion-row  *ngIf="!isPreview"
            class="calendar-view">
    <app-process-calendar-alerts  *ngIf="calendarProcess['startDatetime'] !== undefined"
                                  [alerts]="alerts"
                                  [closestAlert]="closestAlert"
                                  [description]="calendarProcess.description"
                                  (changeDateEvent)="changeDate()">
    </app-process-calendar-alerts>
    <app-calendar #calendar
                  *ngIf="!isPreview && calendarProcess['startDatetime'] === undefined"
                  [calendarProcess]="calendarProcess">
    </app-calendar>
  </ion-row>
</ion-grid>
