<ion-grid class="ion-no-padding">
  <!-- Item label image -->
  <ion-row id="label-image-container">
    <ng-container *ngIf="item.optionalItemData.itemLabelImage">
      <ion-img  (ionError)="onImageError('itemLabelImage', $event)"
                [src]="item.optionalItemData.itemLabelImage.url"
                alt="label art">
      </ion-img>
    </ng-container>
    <ng-container *ngIf="!item.optionalItemData.itemLabelImage">
      <ion-img  [src]="missingImageURL"
                alt="missing label art icon">
      </ion-img>
    </ng-container>
  </ion-row>
  <!-- Item supplier info -->
  <ion-row>
    <ion-col class="ion-align-self-center supplier-name">
      <a  *ngIf="item && item.optionalItemData.supplierURL"
          [href]="item.optionalItemData.supplierURL"
          target="blank">
        {{ item.supplierName }}
      </a>
      <ng-container *ngIf="!item || !item.optionalItemData.supplierURL">
        {{ item.supplierName }}
      </ng-container>
    </ion-col>
    <!-- Item supplier image -->
    <ion-col>
      <ng-container *ngIf="item.optionalItemData.supplierLabelImage">
        <ion-img  (ionError)="onImageError('supplierLabelImage', $event)"
                  [src]="item.optionalItemData.supplierLabelImage.url"
                  alt="label art">
        </ion-img>
      </ng-container>
      <ng-container *ngIf="!item.optionalItemData.supplierLabelImage">
        <ion-img  [src]="missingImageURL"
                  alt="missing label art icon">
        </ion-img>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>
