<ion-grid class="ion-no-padding timer-controls">
  <ion-row>
    <ion-col size="6">
      <app-timer-button (timerClickEvent)="start()"
                        buttonColor="primary"
                        [buttonText]="'Start' + multiText">
      </app-timer-button>
    </ion-col>
    <ion-col size="6">
      <app-timer-button (timerClickEvent)="stop()"
                        buttonColor="primary"
                        [buttonText]="'Stop' + multiText">
      </app-timer-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <app-timer-button (timerClickEvent)="addTime()"
                        buttonColor="primary"
                        [buttonText]="'+1min' + multiText">
      </app-timer-button>
    </ion-col>
    <ion-col size="6">
      <app-timer-button (timerClickEvent)="reset()"
                        buttonColor="warning"
                        [buttonText]="'Reset' + multiText">
      </app-timer-button>
    </ion-col>
  </ion-row>
</ion-grid>
