<ion-grid>
  <!-- Loading Spinner -->
  <ion-row *ngIf="displayList === null">
    <app-loading-spinner loadingMessage="Loading Inventory">
    </app-loading-spinner>
  </ion-row>
  <!-- Open Inventory form for third party items -->
  <ion-row *ngIf="displayList">
    <ion-button color="primary"
                (click)="openInventoryFormModal({})"
                class="form-button">
      ADD CUSTOM ITEM
    </ion-button>
  </ion-row>
  <!-- Empty Inventory Notification -->
  <ion-row  *ngIf="displayList && !displayList.length"
            class="ion-justify-content-center no-items">
    No Items in Inventory
  </ion-row>
  <!-- If list is loaded and has items -->
  <ng-container *ngIf="displayList !== null && displayList.length">

    <!-- Sorting and filtering inputs -->
    <ion-row>
      <ion-list id="search-option-list">
        <!-- Sorting Selection -->
          <app-form-select  label="sort"
                            value="alphabetical"
                            [ionChangeEvent]="onSortChangeEvent"
                            [options]="sortOptions">
          </app-form-select>
          <!-- Order Selection -->
          <app-form-select  label="order"
                            [value]="true"
                            [ionChangeEvent]="onDirectionChangeEvent"
                            [options]="orderOptions">
          </app-form-select>
      </ion-list>
    </ion-row>
    <!-- Inventory list -->
    <ion-row>
      <ion-col size="12">
        <ion-list #slidingItemsList
                  id="inventory-list">
          <ng-container *ngFor="let item of displayList; index as i">
            <app-inventory-slider [item]="item"
                                  (inventoryFormEvent)="openInventoryFormModal({item: item})"
                                  (expandItemEvent)="expandItem(i)"
                                  (decrementCountEvent)="decrementCount(item)">
            </app-inventory-slider>
            <app-accordion [expanded]="itemIndex === i">
              <app-inventory-item [item]="item"
                                  (imageErrorEvent)="onImageError(item, $event)">
              </app-inventory-item>
            </app-accordion>
          </ng-container>
        </ion-list>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-grid>
