#search-option-list {
  /* Display */
  width: 100%;
  margin: 0 10px;

  /* Children */
  ion-item {
    /* Display */
    border-bottom: 1px solid var(--ion-color-primary);
    --padding-end: 0;
    --inner-padding-end: 0;

    /* Children */
    ion-label {
      /* Text */
      font-size: 1.3rem;
    }
  }
}

#label-image-container {
  /* Display */
  margin-bottom: 10px;
}


.abv-low {
  /* Color */
  color: var(--ion-color-light);
}

.abv-mid {
  /* Color */
  color: var(--ion-color-primary);
}

.abv-high {
  /* Color */
  color: var(--ion-color-warning);
}

.abv-ultra {
  /* Color */
  color: var(--ion-color-danger);
}

.expand-button {
  /* Text */
  font-size: 1.3rem;
}

.ibu-low {
  /* Color */
  color: var(--ion-color-light);
}

.ibu-mid {
  /* Color */
  color: #adffc0;
}

.ibu-high {
  /* Color */
  color: #4fff78;
}

.ibu-ultra {
  /* Color */
  color: #00ff3c;
}

.inventory-card {
  /* Display */
  border: 2px solid var(--ion-color-primary);
  border-radius: 5px;

  /* Color */
  background-color: var(--ion-color-medium);
}

.item-description {
  /* Color */
  color: var(--ion-color-light);

  /* Children */
  ion-col {
    p {
      /* Display */
      padding: 5px;
      margin-top: 5px;
      border: 1px solid var(--ion-color-light);
      border-radius: 3px;

      /* Text */
      font-size: 1.3rem;
    }
  }
}

.item-details {
  /* Color */
  color: var(--ion-color-light);

  /* Text */
  font-size: 1.1rem;
}

.no-items {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  /* Color */
  color: var(--ion-color-secondary);

  /* Text */
  font-size: 1.75rem;

  /* Children */
  span {
    /* Display */
    margin-bottom: 15px;
  }
}

.pint-icon {
  /* Display */
  padding-top: 3%;
}

.quantity-low {
  /* Color */
  color: var(--ion-color-light);
}

.quantity-mid {
  /* Color */
  color: var(--ion-color-secondary);
}

.quantity-high {
  /* Color */
  color: var(--ion-color-danger);
}

.right-col {
  /* Text */
  font-weight: 500;
}

.srm-text {
  /* Display */
  padding-right: 5%;
}


ion-card-content {
  /* Display */
  padding: 0 5px 5px 5px;
}

ion-card-header {
  /* Color */
  color: var(--ion-color-light);

  /* Text */
  text-align: center;
  font-size: 1.35rem;
}

ion-img::part(image) {
  /* Display */
  border-radius: 15px;
}

ion-item {
  /* Display */
  --padding-start: 0;
}

ion-select {
  /* Display */
  --padding-start: 0;

  /* Color */
  color: var(--ion-color-primary);
}
