#search-option-list {
  width: 100%;
}


.no-items {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  /* Color */
  color: var(--ion-color-secondary);

  /* Text */
  font-size: 1.75rem;

  /* Children */
  span {
    /* Display */
    margin-bottom: 15px;
  }
}
