<ion-item class="item-buttons">

  <ion-grid class="ion-no-padding">

    <button (click)="openIngredientFormModal()"
            [ngClass]="{
              'item-button': true,
              'border-bottom-medium': !isLast
            }">

      <ion-row>

        <ion-col  size="2"
                  class="ion-align-self-center">
          <ion-icon color="primary"
                    name="create-outline">
          </ion-icon>
        </ion-col>

        <ion-col  size="10"
                  class="ingredient-text-container">

          <ion-row>
            <ion-col  size="8"
                      class="col-left">
              {{ hops.hopsType.name }}
            </ion-col>
            <ion-col  size="4"
                      class="col-right">
              {{ hops.quantity | unitConversion:'weightSmall':true }}
            </ion-col>
          </ion-row>

          <!-- Values for non-dry hopped addition -->
          <ion-row *ngIf="!hops.dryHop">
            <ion-col class="col-left">
              {{ hops.hopsType.alphaAcid }}% AA
            </ion-col>
            <ion-col>
              {{ ibu }} IBU
            </ion-col>
            <ion-col class="col-right">
              {{ hops.duration }}min
            </ion-col>

          </ion-row>

          <!-- Static values to display for dry hopping -->
          <ion-row *ngIf="hops.dryHop">
            <ion-col class="col-left">
              0% AA
            </ion-col>
            <ion-col>
              0 IBU
            </ion-col>
            <ion-col class="col-right">
              Dry Hop
            </ion-col>
          </ion-row>

        </ion-col>

      </ion-row>

    </button>

  </ion-grid>

</ion-item>
