<ion-card *ngIf="recipeVariant"
          class="recipe-card">

  <!-- Don't use ion-card-header -->
  <ion-item class="card-header">
    <ion-label>
      <ion-icon name="list-outline"
                color="light">
      </ion-icon>
      <span>Ingredients List</span>
    </ion-label>
  </ion-item>

  <ion-card-content>

    <div *ngIf="!hasIngredients">
      <p class="no-ingredients">No Ingredients Provided Yet!</p>
    </div>

    <ion-list *ngIf="hasIngredients">

      <app-ingredient-list-item [ingredients]="recipeVariant.grains"
                                [refreshPipes]="refreshPipes">
      </app-ingredient-list-item>

      <app-ingredient-list-item [ingredients]="recipeVariant.hops"
                                [refreshPipes]="refreshPipes">
      </app-ingredient-list-item>

      <app-ingredient-list-item [ingredients]="recipeVariant.yeast"
                                [refreshPipes]="refreshPipes">
      </app-ingredient-list-item>

      <app-ingredient-list-item [ingredients]="recipeVariant.otherIngredients"
                                [refreshPipes]="refreshPipes">
      </app-ingredient-list-item>

    </ion-list>

  </ion-card-content>

</ion-card>
