<app-header [title]="title"
            [overrideBackButton]="onBackClick">
</app-header>

<ion-content class="sub-page">
  <ng-container *ngIf="note">
    <app-form-text-area [control]="note"
                        controlName="note"
                        formName="note"
                        label=""
                        [rows]="7">
    </app-form-text-area>
  </ng-container>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <app-form-buttons (cancelEvent)="dismiss()"
                        (submitEvent)="onSubmit()">
      </app-form-buttons>
    </ion-row>
    <ion-row *ngIf="formMethod !== 'create'">
      <app-delete-button (deleteEvent)="onDelete()">
      </app-delete-button>
    </ion-row>
  </ion-grid>
</ion-content>
