<form [formGroup]="otherIngredientsForm">
  <!-- Ingredient Name -->
  <app-form-input [control]="otherIngredientsForm.controls['name']"
                  controlName="name"
                  formName="ingredient"
                  label="name"
                  [shouldRequire]="true"
                  type="text">
  </app-form-input>
  <!-- Ingredient Type -->
  <app-form-input [control]="otherIngredientsForm.controls['type']"
                  controlName="type"
                  formName="ingredient"
                  label="type"
                  [shouldRequire]="true"
                  type="text">
  </app-form-input>
  <!-- Ingredient Quantity -->
  <app-form-input [control]="otherIngredientsForm.controls['quantity']"
                  controlName="quantity"
                  formName="ingredient"
                  label="quantity"
                  [shouldRequire]="true"
                  type="number">
  </app-form-input>
  <!-- Ingredient Unit Type -->
  <app-form-input [control]="otherIngredientsForm.controls['units']"
                  controlName="units"
                  formName="ingredient"
                  label="units"
                  [shouldRequire]="true"
                  type="text">
  </app-form-input>
  <!-- Ingredient Description -->
  <app-form-input [control]="otherIngredientsForm.controls['description']"
                  controlName="description"
                  formName="ingredient"
                  label="description"
                  [shouldRequire]="true"
                  type="text">
  </app-form-input>
</form>
