#timer-container {
  /* Display */
  margin-bottom: 68px;
}

#timer-master-controls {
  /* Text */
  text-align: center;

  ion-col {
    padding: 0 5px;
  }
}

// .timer-button {
//   /* Display */
//   width: 100%;
//   margin: 0;
//   min-height: 48px;
//
//   /* Color */
//   color: var(--ion-color-dark-tint);
//
//   /* Text */
//   font-size: 1.3rem;
// }

// .timer-container {
//   /* Display */
//   border: 2px solid var(--ion-color-primary);
//   border-radius: 15px;
//   margin: 2% 0;
//   padding: 0 1%;
// }

// .timer-individual-controls {
//   /* Display */
//   z-index: 1 !important;
//   width: 100%;
//   margin-top: 5px;
//   height: auto;
//   overflow: hidden;
//
//   /* Children */
//   ion-row {
//     /* Display */
//     padding: 5px;
//   }
// }

// .timer-row {
//   /* Display */
//   width: 100%;
//
//   /* Children */
//   > ion-col {
//     /* Display */
//     z-index: 2;
//
//     /* Children */
//     > h2 {
//       /* Text */
//       font-size: 2em;
//       text-align: center;
//     }
//   }
// }

.timer-preview-container {
  /* Display */
  margin-bottom: 98px;
}

.timer-preview {
  .preview-info-container {
    /* Display */
    width: 100%;
    padding: 0 16px;
    border: 1px solid var(--ion-color-secondary);
    border-radius: 5px;
  }

  h2 {
    /* Display */
    width: 100%;
    border-bottom: 1px solid var(--ion-color-light);

    /* Text */
    text-align: center;
  }

  p {
    /* Display */
    width: 100%;
  }
}
